<a href="https://colab.research.google.com/github/JuseongA/juseong/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a =3
if a > 1:
  print("a는 1보다 큽니다.")

a는 1보다 큽니다.

In [4]:
z = 0
for a in (1,2,3):
  z = z + a
  print(f"a = {a} , z = {z:3d}")

a = 1 , z =   1
a = 2 , z =   3
a = 3 , z =   6

In [22]:
b = 0
for a in range(1,101):
  b = a + b
print(b)

5050

In [37]:
for i in range(1,33):
  print("dec %2d oct %2o hex %2x" % (i, i , i))

dec  1 oct  1 hex  1
dec  2 oct  2 hex  2
dec  3 oct  3 hex  3
dec  4 oct  4 hex  4
dec  5 oct  5 hex  5
dec  6 oct  6 hex  6
dec  7 oct  7 hex  7
dec  8 oct 10 hex  8
dec  9 oct 11 hex  9
dec 10 oct 12 hex  a
dec 11 oct 13 hex  b
dec 12 oct 14 hex  c
dec 13 oct 15 hex  d
dec 14 oct 16 hex  e
dec 15 oct 17 hex  f
dec 16 oct 20 hex 10
dec 17 oct 21 hex 11
dec 18 oct 22 hex 12
dec 19 oct 23 hex 13
dec 20 oct 24 hex 14
dec 21 oct 25 hex 15
dec 22 oct 26 hex 16
dec 23 oct 27 hex 17
dec 24 oct 30 hex 18
dec 25 oct 31 hex 19
dec 26 oct 32 hex 1a
dec 27 oct 33 hex 1b
dec 28 oct 34 hex 1c
dec 29 oct 35 hex 1d
dec 30 oct 36 hex 1e
dec 31 oct 37 hex 1f
dec 32 oct 40 hex 20

In [38]:
age = 24
name = abc
print(f"name")

NameError: ignored